body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  #login{
    width:45vh;
    height: 600px;
    background-color: hsl(0, 0%, 12%);
    margin-top: 14vh;
    border-radius: 13px;
  
    
   
  
  }
  img{
    border-radius: 40px;
  }
  #login2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
  
  }
  #mainp{
    margin-top: 0;
    color: hsl(75, 94%, 57%);
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  #login2 h2{
    color:  hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
  
  }
  #p2{
    color:hsl(0, 14%, 71%);
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  #login3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color:hsl(0, 0%, 8%);
  }
  .button:hover{
    color:black;
    background-color:hsl(75, 94%, 57%);
    transition: 0.3s;
    text-decoration: none;
    font-size: 15px;
  }