@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mountains+of+Christmas:wght@700&family=Roboto&family=Smooch&family=Whisper&display=swap');
.header{
  position: fixed;
  background-color: royalblue;
  top:0;
  left:0;
  width:100%;
  padding: 20px 10%;
  display: flex;
  align-items: center;
  z-index: 100;
 
}
#logo{
  margin-right: 900px;
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  font-family: kanit;
}
.navbar{
  font-size: 25px;
  color:whitesmoke;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
  font-family: kanit;
}
body{
  background-image: url(maxresdefault.jpg);       
  background-repeat:repeat;       
  background-size:cover; 
  background-color:royalblue;
}