@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Mountains+of+Christmas:wght@700&family=Roboto&family=Smooch&family=Whisper&display=swap');
h1{
    font-family: kanit;
    color: white;
}

h2{
    font-family: kanit;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: royalblue;
}

.txt{
    margin-left: 100px;
    color: whitesmoke;
  }

.divblock:hover{
    box-shadow: black;
    box-shadow: 25%;
    transition: 1.5s;
    scale: 1.1;
}

.divblock{
    border:  solid;
    border-radius: 30px; 
}

img{
    border-radius: 10%;
}





